:root {
    --marronOscuro: #575046;
    --marronClaro: #674a04;
    --ocre: #c49d31;
    --crema: #efead7;
    --blanquito: #f0f2fa;
    --grisClaro: #878e99;
    --grisOscuro: #4b5058;
  }
  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var( --marronClaro); /*todos los textos*/
    margin: 0;
    padding: 0;
   }
  .h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif !important;
  }
body{
    background-image:url(./img/imgPortada2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
 
  a{
    text-decoration: none;
}
.boton{
    padding: 0.6rem;
    border: none;
    border-radius: 5%;
    background: none; 
    font-weight: 600;
    font-size: medium;
}
.a_activo{
    color:var(--marronOscuro);
}

a:hover {
    color: var(--ocre);
}
/*------------------index.html--------------------*/ 
.contenedor .header {
  grid-area: header;
  font-size: 0.5rem;
  padding:1%;
  text-align: right;
  
} 
.contenedor .dibujoFondo {
  grid-area: dibujoFondo;
  
}
.contenedor .logo {
  grid-area: logo;
 
}
.contenedor .presentacion {
  grid-area: presentacion;
}
.presentacion_p {
   margin: 2% 0;
  
}
.presentacion_icono{
  color:var( --ocre);
}
#slogan { word-wrap: break-word; }/*titulo con movimiento*/

/*---------------------------------sobreMi.html-------------------------------------------------------------------------*/

.contenedor_sobreMi .header_sobreMi {
  grid-area: header_sobreMi;
  
}
.contenedor_sobreMi .header_sobreMi_nav{
  display:flex;
  float: right;
  align-items: center;
  justify-content: space-between;

}
.contenedor_sobreMi .dibujo_sobreMi {
  grid-area: dibujo_sobreMi;
 
}

 

/*---------------------------------trabajos.html-------------------------------------------------------------------------*/

.contenedor_trabajos .header_trabajos {
  grid-area: header_trabajos;
  
}
.contenedor_trabajos .header_trabajos_nav{
  display:flex;
  float: right;
  align-items: center;
  justify-content: space-between;

}
.contenedor_trabajos .dibujo_trabajos {
  grid-area: dibujo_trabajos;
 
}
.trabajos .tr1_descrip {
  grid-area: tr1_descrip;
  font-size: small;
  text-align:center;
  padding-top: 5%;
}
 .trabajos .tr1_img {
  grid-area: tr1_img ;
  margin:auto; 
}
 
/*para los elementos que aparecen*/
.animado{
  opacity: 0;
  transition: all 0.8s;
}
.mostrarArriba{
  animation: mostrarArriba 3s;
}
@keyframes mostrarArriba{
  0%{
      transform:translatey(60px);
  }  
  
100%{
      transform:translatex(0px);
    }
} 
/*---------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------RESPONSIVE-------------------------------------------------------*/

  /*MEDIDAS DE BOOSTRAP Extra small: <576px	Small: ≥576px	Medium: ≥768px	Large: ≥992px	Extra large: ≥1200px*/

/* Imagen utilizada en pantallas de anchura 700 px y menor */
@media (max-width: 900px) {
    body {
        background: url("./img/imgPortada200.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;  
    }
/*-----------------responsive-hasta 900px-----------Index-----------------------------------------*/
    .contenedor {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 10vh 18vh 1fr  ;
        grid-template-areas:
        "header"
        "presentacion"
        " logo"  
        ;
    }
   .presentacion_caja {
        width: 100%;
        font-size: 0.9rem;
        margin: auto;
        padding:1rem;
        text-align: center;    
    }
   
    .contenedor .header {
      font-size: 0.3rem;
      width: 100%;
      text-align:center;
      margin:auto;
    
    } 
    .logo{
      padding:0 6rem;
     
    }
    .logo_imagen{
      width: 60%;
    }
    .contenedor .header nav{
      display:flex;
      float: right;
      align-items: center;
      justify-content: space-between;
      padding:5%;
    }
/*--------------------------------------responsive--hasta 900px-----------trabajos.html---------------------------*/
    .contenedor_trabajos {
      width: 100%;
      margin: auto;
      display: grid;
      grid-gap: 2%; 
      grid-template-columns:100%;
      grid-template-rows: 15vh 40vh 1fr;
      grid-template-areas:
      "header_trabajos" 
      "trabajos "
      "dibujo_trabajos "
      ;
     
      }
        .contenedor_trabajos .trabajos{
          display:grid;
          grid-gap: 4%;
          grid-template-columns:100%;
          grid-template-rows: 1fr 1fr ;
          grid-template-areas:
         "tr1_descrip "
         "tr1_img  "
          ;  
        
         }
}
/* Imagen utilizada en pantallas de anchura 901 px y superior */
@media (min-width: 901px) {
    body {
        background-image:url("./img/imgPortada2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;  
    }

/*------------------responsive +900px-----index---------------------*/
    .contenedor {
        width: 100%;
        margin: auto; 
        display: grid;
        grid-gap: 2%; 
        grid-template-columns: 45% 1fr;
        grid-template-rows: 15vh 35vh 50vh;
        grid-template-areas:
        "header         header"
        "dibujoFondo     logo "
        "dibujoFondo     presentacion"
        ;
      }
      .presentacion_caja {
        width: 100%;
        margin:0;
        text-align: left;
       }

        
       .logo{
        padding:0;
    }
   
    .button_about{
        position: absolute;
        top: 20%;
        left: 62%;
        transform: rotate(-26deg);
    }
    .button_curriculum{
        position: absolute;
        top:30% ;
        left: 63%;
      }
    
    .button_work{
        position: absolute;
        top:40% ;
        left: 62%;
        transform: rotate(26deg);
    }
  /*----------------------responsive +900px------------sobreMi.html----------------------------------------------------*/
    .contenedor_sobreMi {
      width: 100%;
      /*agregado para efecto scroll*/
       max-width: 1300px; 
      margin: auto; 
      display: grid;
      grid-gap: 2%; 
      grid-template-columns: 45% 1fr;
      grid-template-rows: 20vh 1fr;
      grid-template-areas:
      "header_sobreMi         header_sobreMi "
      "dibujo_sobreMi    sobreMi "
       ;
    }
    .contenedor_sobreMi .sobreMi{
      display:grid;
      grid-gap: 4%;
      grid-template-columns:170px 170px 1fr 1fr ;
      grid-template-rows: 15vh 15vh 15vh 15vh ;
      grid-template-areas:
     "uno  uno dos dos  "
     "uno  uno tres tres "
     "cuatro cinco seis   siete " 
     "cuatro cinco seis   siete"; 
     border-radius:1%;
   }
  
   
   .sobreMi .uno {
     justify-content: center;
     grid-area: uno;
     background: #c49d31;
     border-radius: 2%;
   }
   .sobreMi .tres {
     justify-content: center;
     grid-area:tres;
     background: #6e1a6a;
     border-radius: 2%;
   }
   .sobreMi .dos {
     justify-content: center;
     grid-area: dos;
     border-radius: 2%;
     background: #851113;
   }
   .sobreMi .seis {
     justify-content: center;
     grid-area: seis;
     border-radius: 2%;
     background: #87bb27;
   }
   .sobreMi .siete {
     justify-content: center;
     grid-area: siete;
     border-radius: 2%;
     background: #0e92cf;
   }
   .sobreMi .cuatro {
     justify-content: center;
     grid-area: cuatro;
     border-radius: 2%;
     background: #189623;
   }
   .sobreMi .cinco {
     justify-content: center;
     grid-area: cinco;
    border-radius: 2%;
    background: #31c47b;
   }
   


}
/*----------------------responsive +900px------------trabajos.html----------------------------------------------------*/
.contenedor_trabajos {
  width: 100%;
  /*agregado para efecto scroll*/
   max-width: 1300px; 
  margin: auto; 
  display: grid;
  grid-gap: 2%; 
  grid-template-columns: 45% 1fr;
  grid-template-rows: 20vh 1fr;
  grid-template-areas:
  "header_trabajos         header_trabajos "
  "dibujo_trabajos    trabajos "
   ;
}
.contenedor_trabajos .trabajos{
  display:grid;
  grid-gap: 4%;
  grid-template-columns:1fr 75%;
  grid-template-rows: 1fr ;
  grid-template-areas:
 "tr1_descrip    tr1_img  "
  ;  
 }

/*------------------------------PAGINA CURRICULUM---------------------------------*/

.contenedor_curriculum {
  width: 100%;
  /*agregado para efecto scroll*/
   max-width: 1300px; 
  margin: auto; 
  display: grid;
  grid-gap: 2%; 
  grid-template-columns: 45% 1fr ;
  grid-template-rows: 10vh 1fr 10%;
  grid-template-areas:
  "header_curriculum         header_curriculum "
  "dibujo_curriculum    curriculum "
  "dibujo_curriculum    descargar "
   ;
}
.contenedor_curriculum .header_curriculum {
 
  grid-area: header_curriculum;
  /* background: var(--ocre);  */
}
.contenedor_curriculum .header_curriculum_nav{
  display:flex;
  float: right;
  align-items: center;
  justify-content: space-between;

}
.contenedor_curriculum .dibujo_curriculum {
  grid-area: dibujo_curriculum;
}
.contenedor_curriculum .descargar{
  grid-area:descargar;

}


 

