:root {
    --marronOscuro: #575046;
    --marronClaro: #674a04;
    --ocre: #c49d31;
    --crema: #efead7;
    --blanquito: #f0f2fa;
    --grisClaro: #878e99;
    --grisOscuro: #4b5058;
  }
  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var( --marronClaro); /*todos los textos*/
    margin: 0;
    padding: 0;
    
   
  }
  .h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif !important;
  }
body{
    background-image:url(./img/imgPortada2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    /* overflow-x: hidden; */
}
  
.contenedor {
    width: 100%;
    /*agregado para efecto scroll*/
    /* max-width: 1000px; */
    margin: auto; 
    display: grid;
    grid-gap: 2%; 
    grid-template-columns: 45% 1fr;
    grid-template-rows: 15vh 35vh 50vh;
    grid-template-areas:
    "header         header"
    "dibujoFondo     logo "
    "dibujoFondo     presentacion"
    ;
  }
.contenedor .header {
    grid-area: header;
     /* background:var( --marronOscuro); */
    padding: 1%;
  }
.contenedor .dibujoFondo {
    grid-area: dibujoFondo;
    /* background: var(--crema);  */
  }
.contenedor .logo {
    grid-area: logo;
   /* background: var(--ocre);    */
  }
  a{
    text-decoration: none;
}
.boton{
    padding: 0.6rem;
    border: none;
    border-radius: 5%;
    background: none;
    font-weight: 600;
    font-size: medium;
}
.a_activo{
    color:var(--marronOscuro);
}

a:hover {
    color: var(--ocre);
}
.contenedor .presentacion {
    grid-area: presentacion;
      /* background: var(--grisClaro);    */
  }
 .presentacion_p {
     margin: 2% 0;
    
 }
 .presentacion_icono{
    color:var( --ocre);
 }
 #slogan { word-wrap: break-word; }/*titulo con movimiento*/

/*-----------------------------------------------------RESPONSIVE-------------------------------------------------------*/

  /*MEDIDAS DE BOOSTRAP Extra small: <576px	Small: ≥576px	Medium: ≥768px	Large: ≥992px	Extra large: ≥1200px*/

/* Imagen utilizada en pantallas de anchura 480 px y superior */
@media (min-width: 200px) {
    body {
        background: url("./img/imgPortada200.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;  
       
    }
    .contenedor {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /*agregado para efecto scroll*/
        /* max-width: 1000px; */
        margin: auto; 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 18vh 27vh 30vh ;
        grid-template-areas:
        "header"
        "presentacion"
        " logo "
        "dibujoFondo"
        ;
      }
      .presentacion_caja {
          width: 100%;
          margin: auto;
          padding:2rem;
          text-align: center;
          /* background: #c5a578; */
         
        }
        .logo{
            padding:0.5rem 6rem;
        }
        /* .button_about{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: rotate(-26deg);
        }
        .button_curriculum{
            position: absolute;
            top:30% ;
            left: 51%;
          }
        
        .button_work{
            position: absolute;
            top:40% ;
            left: 50%;
            transform: rotate(26deg);
        } */
        .contenedor .header nav{
          display:flex;
          float: right;
          align-items: center;
          justify-content: space-between;
          padding:5%;
        
        }
}

/* Imagen utilizada en pantallas de anchura 768 px y superior */
@media (min-width: 768px) {
    body {
        background-image:url("./img/imgPortada390.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;  
    }
}

/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1200px) {
    body {
        background-image:url("./img/imgPortada2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;  
    }
    .contenedor {
        width: 100%;
        margin: auto; 
        display: grid;
        grid-gap: 2%; 
        grid-template-columns: 45% 1fr;
        grid-template-rows: 15vh 35vh 50vh;
        grid-template-areas:
        "header         header"
        "dibujoFondo     logo "
        "dibujoFondo     presentacion"
        ;
      }
      .presentacion_caja {
        width: 100%;
        margin:0;
        
        /* background: #dfa92c; */
        text-align: left;
       }
       .logo{
        padding:0;
    }
    .button_about{
        position: absolute;
        top: 20%;
        left: 62%;
        transform: rotate(-26deg);
    }
    .button_curriculum{
        position: absolute;
        top:30% ;
        left: 63%;
      }
    
    .button_work{
        position: absolute;
        top:40% ;
        left: 62%;
        transform: rotate(26deg);
    }
}


/*-------------------PAGINA TRABAJOS -------------------------------------------*/
/*----------------------------------SECTOR TRABAJOS----------------------------------------------------*/
/*división de la vista de los trabajos*/
  
.contenedor_trabajos {
    width: 100%;
    /*agregado para efecto scroll*/
     max-width: 1300px; 
    margin: auto; 
    display: grid;
    grid-gap: 2%; 
    grid-template-columns: 45% 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas:
    "header_trabajos         header_trabajos "
    "dibujo_trabajos    trabajos "
     ;
  }
  .contenedor_trabajos .header_trabajos {
   
    grid-area: header_trabajos;
    /* background: var(--ocre);  */
  }
  .contenedor_trabajos .header_trabajos_nav{
    display:flex;
    float: right;
    align-items: center;
    justify-content: space-between;
  
  }
  .contenedor_trabajos .dibujo_trabajos {
    grid-area: dibujo_trabajos;
    /* background: var(--crema);  */
  }
  .contenedor_trabajos .trabajos{
    display:grid;
    grid-gap: 4%;
    grid-template-columns:1fr 75%;
    grid-template-rows: 1fr ;
    grid-template-areas:
   "tr1_descrip    tr1_img  "
  
   ;  
  
    }

  .trabajos .tr1_descrip {
    grid-area: tr1_descrip;
    font-size: small;
    text-align:center;
    padding-top: 5%;
    
  }
   
  
  .trabajos .tr1_img {
    grid-area: tr1_img ;
     
     margin:auto; 
    /* background: violet;   */
  }
    
  
/*para los elementos que aparecen*/
 .animado{
    opacity: 0;
    transition: all 0.8s;
}
.mostrarArriba{
    animation: mostrarArriba 3s;
}
@keyframes mostrarArriba{
    0%{
        transform:translatey(60px);
    }  
    
 100%{
        transform:translatex(0px);
     
    }
} 

/*------------------------------PAGINA CURRICULUM---------------------------------*/

.contenedor_curriculum {
  width: 100%;
  /*agregado para efecto scroll*/
   max-width: 1300px; 
  margin: auto; 
  display: grid;
  grid-gap: 2%; 
  grid-template-columns: 45% 1fr ;
  grid-template-rows: 10vh 1fr 10%;
  grid-template-areas:
  "header_curriculum         header_curriculum "
  "dibujo_curriculum    curriculum "
  "dibujo_curriculum    descargar "
   ;
}
.contenedor_curriculum .header_curriculum {
 
  grid-area: header_curriculum;
  /* background: var(--ocre);  */
}
.contenedor_curriculum .header_curriculum_nav{
  display:flex;
  float: right;
  align-items: center;
  justify-content: space-between;

}
.contenedor_curriculum .dibujo_curriculum {
  grid-area: dibujo_curriculum;
}
.contenedor_curriculum .descargar{
  grid-area:descargar;

}


 

